
.panel{
    background-color: rgb(224, 223, 223);
    padding:20px;
    display:grid;
    grid-template-columns: .2fr .2fr .2fr .2fr .2fr;
    gap:20px;
}

.panel .backlog{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.panel .todo{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.panel .inprogress{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.panel .done{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.panel .cancelled{
    display:flex;
    flex-direction: column;
    gap:5px;
}

